
<div class="text-center">
    <h1 class="display-4">Производители велосипедов и их комплектующих</h1>
</div>

<table class="table">
    <tr><td>Название</td><td>Сайт производителя</td><td>Страна производителя</td></tr>
    @foreach (var item1 in  ViewBag.BrandsDB)
    {
        <tr><td>@item1.BrandName</td><td>@item1.SiteBrand</td><td>@item1.CountryBrand</td></tr>
    }

</table>

<div class="text-center">
    <h1 class="display-4">Предназначены для :</h1>
</div>

<table class="table">
    <tr><td>Название</td></tr>
    @foreach (var item2 in ViewBag.GenderDB)
    {
        <tr><td>@item2.NameGender</td></tr>
    }

</table>
@*<table class="table">
    <tr><td>Название</td></tr>
    @foreach (var item3 in ViewBag.BrakesDB)
    {
        <tr><td>@item3.BrakesDB</td></tr>
    }

</table>*@

